@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Statistic System</h1>
    <p class="lead">Statistic</p>
    @*<p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>


    
   
   
    
    
    
    