@model DTO.ManagerDTO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<%=Html.ValidationSummary("Please correct the errors and try again.") %>

    <% using (Html.BeginForm()) { %>

<fieldset>
    <p>
        <label for="Title">Dinner Title:</label>
        <%=Html.TextBox("Title") %>
        <%=Html.ValidationMessage("Title", "*") %>
    </p>
  
</fieldset>

    <% } %>